In [5]:
from openpyxl.workbook import Workbook
import random as rd
import pandas as pd
import numpy as np
def nest_list(list1,rows, columns):    
        result=[]               
        start = 0
        end = columns
        for i in range(rows): 
            result.append(list1[start:end])
            start +=columns
            end += columns
        return result
indexes1= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220]
indexes2=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242]
matriculas=["A01650668","A01658480","A01657992","A01652027","A01652468","A01657421","A01657419","A01657395","A01652414","A01657259","A01658966","A01652093","A01652568","A01652711","A01657946","A01658749","A01653478","A01652864","A01652477","A01653546", "A01652459","A01653723"]
x=rd.sample(indexes1, 220)
y=rd.sample(indexes2, 242)
z=rd.sample(matriculas, 22)
final1=nest_list(x,22,10)
final2=nest_list(y,22,11)
for i in range(0,22):
	final1[i].append(z[i])
	final2[i].append(z[i])
final11=pd.DataFrame(np.array(final1),columns=['Estado1', 'Estado2', 'Estado3', 'Estado4', 'Estado5', 'Estado6','Estado7', 'Estado8', 'Estado9', 'Estado10','Matricula'])
final12= pd.DataFrame(np.array(final2),columns=['Estado1', 'Estado2', 'Estado3', 'Estado4', 'Estado5', 'Estado6','Estado7', 'Estado8', 'Estado9', 'Estado10', 'Estado11', 'Matricula'])
display(final11)
display(final12)
with pd.ExcelWriter('SorteoMunicipios.xlsx') as writer: 
	final11.to_excel(writer ,sheet_name='220Municipios') 
	final12.to_excel(writer ,sheet_name='242Municipios')

,Estado1,Estado2,Estado3,Estado4,Estado5,Estado6,Estado7,Estado8,Estado9,Estado10,Matricula
0,11,185,212,140,42,8,69,201,60,82,A01652027
1,34,89,174,3,26,41,5,190,186,25,A01657421
2,148,4,128,126,203,188,135,81,173,146,A01652477
3,62,144,133,15,59,67,39,75,137,182,A01652468
4,87,12,162,200,124,85,27,129,160,109,A01658480
5,157,96,86,1,122,70,220,117,153,79,A01652711
6,176,142,84,46,63,38,97,197,35,193,A01657419
7,61,191,77,72,53,57,108,6,199,44,A01653478
8,177,33,194,78,43,218,145,138,141,179,A01657259
9,202,205,28,20,52,139,51,91,93,9,A01652864
10,164,32,195,98,55,7,19,215,208,213,A01657946
11,180,161,99,167,209,170,151,154,150,159,A01652093
12,119,125,189,113,178,56,216,13,172,169,A01650668
13,131,192,130,48,116,210,217,54,165,94,A01657395
14,214,76,114,21,14,115,24,123,168,204,A01658749
15,95,90,10,211,147,181,107,17,22,74,A01653723
16,73,187,64,163,104,136,134,152,80,156,A01657992
17,106,36,45,132,30,110,219,184,155,158,A01658966
18,112,71,2,31,206,23,40,65,143,68,A01653546
19,49,103,183,198,29,66,120,149,16,92,A01652459
20,83,88,50,166,196,118,37,127,102,111,A01652568
21,47,100,101,121,105,207,18,171,58,175,A01652414

,Estado1,Estado2,Estado3,Estado4,Estado5,Estado6,Estado7,Estado8,Estado9,Estado10,Estado11,Matricula
0,59,195,50,236,89,94,193,212,102,8,108,A01652027
1,100,84,32,233,137,60,16,114,130,56,241,A01657421
2,111,17,1,218,22,31,58,77,88,222,197,A01652477
3,82,74,11,93,110,116,220,121,210,79,131,A01652468
4,214,187,73,13,43,163,45,198,19,175,134,A01658480
5,120,2,151,148,179,149,6,81,153,106,209,A01652711
6,240,123,242,68,238,7,190,231,160,15,232,A01657419
7,192,30,206,23,159,133,157,14,147,239,28,A01653478
8,184,39,211,104,178,188,223,29,21,139,136,A01657259
9,208,194,152,18,207,140,101,181,135,85,162,A01652864
10,91,224,61,170,96,20,155,227,132,109,64,A01657946
11,221,150,128,118,169,216,34,186,86,54,127,A01652093
12,63,144,161,217,113,47,142,199,125,229,172,A01650668
13,226,230,171,180,158,237,27,129,122,3,228,A01657395
14,105,95,52,98,201,4,10,176,9,117,99,A01658749
15,57,26,72,166,48,62,36,183,24,205,219,A01653723
16,103,55,156,234,112,138,174,37,46,66,185,A01657992
17,126,182,225,124,49,203,25,115,92,213,42,A01658966
18,35,107,53,204,70,168,191,146,83,12,165,A01653546
19,38,76,196,87,33,189,41,119,145,235,69,A01652459
20,202,97,141,67,75,164,173,51,65,177,71,A01652568
21,40,90,215,143,5,44,200,78,167,154,80,A01652414